body {
  background: linear-gradient(to bottom right, #110068, #009f52);
  margin: 0;
  padding: 0;
  height: 100vh;
}
h1 {
  font-family: "Marcellus SC", serif;
  color: rgb(255, 255, 255);
  font-size: 4vw;
  padding-top: 3vh;
}
button {
  font-size: 2vw;
  margin-bottom: 2vh;
}
.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}
.controls > div {
  margin-right: 20px;
}
#canvas-container {
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
}
canvas {
  width: 100%;
  height: 100%;
  border: 5px solid white;
  border-radius: 5%;
}
@keyframes example {
  0% {
    box-shadow: 1px 1px 38px grey;
  }
  50% {
    box-shadow: 1px 1px 38px white;
  }
  100% {
    box-shadow: 1px 1px 38px blue; /* Cambiar por el color deseado */
  }
}